# Distance ratio, look-up table, and application

In [2]:
import pandas as pd
import scipy.interpolate

## 1. Load distance ratio
Distance ratio (ratio) = Travel distance or network distance / straight line distance or Euclidean distance

### 1.1 Travel survey based distance ratio
Travel surveys of Sweden and the Netherlands contain participant-reported travel distance and the trip distance is calculated as the straight-line distance (Euclidean distance) between centroids of statistics zones, e.g., DeSO zones for Sweden.

In [3]:
df_data = pd.read_csv('../results/distance_ratio_data.csv')
df_data.head()

   distance     ratio  lower_ratio  upper_ratio country
0  0.121503  2.473143     2.372895     2.573390  sweden
1  0.187461  3.550169     1.840718     9.700040  sweden
2  0.287628  2.805004     1.709243     4.621175  sweden
3  0.414068  2.088832     1.285247     3.540168  sweden
4  0.590090  2.016771     1.548158     3.121659  sweden

In [4]:
df_data

       distance     ratio  lower_ratio  upper_ratio      country
0      0.121503  2.473143     2.372895     2.573390       sweden
1      0.187461  3.550169     1.840718     9.700040       sweden
2      0.287628  2.805004     1.709243     4.621175       sweden
3      0.414068  2.088832     1.285247     3.540168       sweden
4      0.590090  2.016771     1.548158     3.121659       sweden
5      0.874646  2.008075     1.259242     2.996415       sweden
6      1.255873  1.862988     1.438462     2.739387       sweden
7      1.796046  1.655826     1.273259     2.285361       sweden
8      2.643021  1.625011     1.282452     2.084867       sweden
9      3.840619  1.541059     1.269624     1.978318       sweden
10     5.632851  1.521784     1.254045     1.907024       sweden
11     8.300804  1.446696     1.218657     1.794694       sweden
12    12.132436  1.420280     1.232058     1.707476       sweden
13    17.723798  1.375176     1.217209     1.605642       sweden
14    25.640581  1.307388     1.166619     1.509202       sweden
15    37.846604  1.303588     1.176038     1.466314       sweden
16    55.866519  1.262828     1.162291     1.425670       sweden
17    80.821655  1.275743     1.160868     1.420121       sweden
18   119.703580  1.253630     1.160394     1.375654       sweden
19   177.960970  1.249087     1.172644     1.365967       sweden
20   248.966764  1.253093     1.179616     1.340148       sweden
21   392.121460  1.273375     1.219952     1.356982       sweden
22   525.724439  1.304482     1.221426     1.410073       sweden
23   787.006945  1.303069     1.245224     1.507206       sweden
24  1056.125148  1.314965     1.309312     1.320617       sweden
25     0.248574  8.045906     4.022953     8.045906  netherlands
26     0.333331  4.500034     1.667074     5.181849  netherlands
27     0.586146  2.548405     1.679255     3.695897  netherlands
28     0.875497  2.073972     1.257986     2.769169  netherlands
29     1.258626  1.848163     1.456382     2.547692  netherlands
30     1.810287  1.670392     1.301274     2.258634  netherlands
31     2.632956  1.595161     1.273795     2.029512  netherlands
32     3.816500  1.458089     1.233340     1.839250  netherlands
33     5.583340  1.450781     1.229585     1.769597  netherlands
34     8.281905  1.427390     1.220772     1.697562  netherlands
35    12.037033  1.421467     1.240930     1.627930  netherlands
36    17.714284  1.397504     1.247467     1.599904  netherlands
37    25.652199  1.356973     1.227650     1.529268  netherlands
38    37.630762  1.325428     1.221337     1.481686  netherlands
39    54.306475  1.301800     1.201061     1.464727  netherlands
40    79.722152  1.293380     1.187901     1.396734  netherlands
41   115.756878  1.290264     1.198272     1.386923  netherlands
42   167.128352  1.250886     1.189216     1.323613  netherlands
43   223.154425  1.225068     1.153288     1.245122  netherlands

### 1.2 Simulation-based distance ratio
A simulation for ten selected urban regions whose area varies between 272.3 -- 4878.7 in km$^2$ is conducted to see how much we underestimate the travel distance in urban areas. We use the model-synthesised trips within these urban areas and calculate the shortest network distance assuming driving plus 400 m walking (5 min) using the drive road networks downloaded from OpenStreetMap. The distance ratio decreases along with the trip distance and such a pattern is similar across all the ten urban areas. This opens up the possibility to create a multiplier function of trip distance that compensates for the underestimated travel distance.

More details is [here](https://research.chalmers.se/en/publication/523815).

In [5]:
df_simulation = pd.read_csv('../results/distance_ratio_simulation.csv')
df_simulation.head()

   distance     ratio  lower_ratio  upper_ratio
0  0.120453  4.796603     4.085980     6.072655
1  0.162514  3.966736     3.434608     4.852263
2  0.218579  3.293649     2.887725     4.108657
3  0.295120  2.809982     2.481010     3.475213
4  0.401855  2.421351     2.161574     2.949358

In [6]:
df_simulation

      distance     ratio  lower_ratio  upper_ratio
0     0.120453  4.796603     4.085980     6.072655
1     0.162514  3.966736     3.434608     4.852263
2     0.218579  3.293649     2.887725     4.108657
3     0.295120  2.809982     2.481010     3.475213
4     0.401855  2.421351     2.161574     2.949358
5     0.544903  2.119996     1.906708     2.508199
6     0.739433  1.902425     1.724319     2.232757
7     1.006516  1.736017     1.586200     2.001790
8     1.368192  1.599353     1.475160     1.805618
9     1.854042  1.501747     1.389448     1.670167
10    2.520707  1.424963     1.324312     1.568168
11    3.413803  1.371262     1.280211     1.498587
12    4.649954  1.332891     1.249727     1.448577
13    6.258223  1.306073     1.225650     1.408897
14    8.463277  1.276202     1.201347     1.369814
15   11.355810  1.251905     1.179363     1.344593
16   15.299886  1.226903     1.161697     1.313252
17   20.866112  1.217365     1.153906     1.317158
18   28.169273  1.222898     1.156362     1.348120
19   38.883420  1.217190     1.137447     1.362008
20   51.220034  1.217930     1.149693     1.311625
21   74.141483  1.208535     1.156921     1.260800
22   97.397713  1.163184     1.132047     1.206740
23  119.640719  1.097462     1.017565     1.151296
24  162.083761  1.175702     1.157981     1.177091
25  221.953684  1.174293     1.111861     1.185556

## 2. Create lookup tables by interpolation

In [7]:
sp_data_sweden = scipy.interpolate.interp1d(df_data.loc[df_data.country == 'sweden', ['distance']].values.reshape(-1),
                                            df_data.loc[df_data.country == 'sweden', ['ratio']].values.reshape(-1))
sp_data_netherlands = scipy.interpolate.interp1d(df_data.loc[df_data.country == 'netherlands', ['distance']].values.reshape(-1),
                                            df_data.loc[df_data.country == 'netherlands', ['ratio']].values.reshape(-1))
sp_data_simulation = scipy.interpolate.interp1d(df_simulation.loc[:, ['distance']].values.reshape(-1),
                                                df_simulation.loc[:, ['ratio']].values.reshape(-1))

## 3. Use the lookup tables to get a distance ratio given its trip distance

In [5]:
df_test = pd.DataFrame()
test_distances = [1, 2, 3, 4, 5, 10, 15, 78, 200] # km
df_test.loc[:, 'trip distance'] = test_distances
df_test.loc[:, 'ratio (sweden)'] = sp_data_sweden(test_distances)
df_test.loc[:, 'ratio (netherlands)'] = sp_data_netherlands(test_distances)
df_test.loc[:, 'ratio (simulation)'] = sp_data_simulation(test_distances)
df_test

   trip distance  ratio (sweden)  ratio (netherlands)  ratio (simulation)
0              1        1.960368             2.000592            1.740077
1              2        1.648406             1.653043            1.484936
2              3        1.599986             1.552652            1.396144
3              4        1.539345             1.457330            1.353066
4              5        1.528590             1.453194            1.327054
5             10        1.434981             1.424680            1.263294
6             15        1.397148             1.408961            1.228804
7             78        1.274283             1.293951            1.201010
8            200        1.250330             1.235738            1.174810